@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,italic&display=swap");
@import url("reset.css");

.wrapper{
    background: linear-gradient(0deg, rgba(220,5,252,1) 0%, rgba(242,228,6,1) 76%);
    font-family: Roboto, serif;
    font-style: italic;
}

.container{
    padding: 0 15px;
    max-width: 100%;
}

.header{
    text-align: center;
    padding: 50px 0;
    font-weight: 700;
    font-size: 70px;
    color: darkgreen;
}

.block{
    background-color: rgb(137, 168, 196);
    padding: 30px 15px;
    margin: 15px auto;
    
}

img{
    vertical-align: middle;
    margin-right: 15px;
    max-width: 100%;
}

.content{
    margin-bottom: 15px;
}

.block p{
    display: inline-block;
    font-size: 30px;
}

.social{
    background-color: #EF6D58;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 16px;
}